@import "fonts.css";
@import "stylesReset.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 22px;
}
.App {
  padding: 20px 16px;
}
.ant-tabs-nav {
  width: 100px;
  align-self: center;
}
.ant-tabs {
  align-items: center;
}
.ant-tabs-content-holder {
  width: 100%;
}
